.left-sidebar {
  width: 164px; 
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
  transform: translateZ(0);
  box-sizing: border-box;
  font-size: 13px;
}

.side-nav {
  height: auto;
  max-width: 100%;
  position: sticky;
  margin: 50px 0px;
  padding: 20px 0px;
}

.side-nav-div {
  padding: 10px 0px;
}

.side-nav-div div {
  padding: 10px;
}

.side-nav-links {
  text-decoration: none;
  color: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  transition: 0.2s;
}

.side-nav-links:hover {
  color: black;
}

.active {
  font-weight: bolder;
  color: black;
  background-color: rgb(225, 225, 225);
  border-right: solid 3px #ef8236;
}


@media screen and (max-width: 640px) {
 .left-sidebar {
    width: 100%;
    padding: 10px;
  }
 .side-nav {
    margin: 20px 0px; 
  }
 .side-nav-links {
    padding-left: 5px;
  }
}


@media screen and (min-width: 641px) and (max-width: 1024px) {
 .left-sidebar {
    width: 120px;
  }
 .side-nav {
    margin: 30px 0px; 
  }
}


@media screen and (min-width: 1025px) {
 .left-sidebar {
    width: 164px; 
  }
 .side-nav {
    margin: 50px 0px; 
}
}